<div class="hidden menu-container" data-menu-target="menuContainer">
  <%= link_to "HOME", root_path %>
  <%= link_to "PROJECTS", projects_path %>
  <%= link_to "CONTACT", contact_path %>
  <div class="menu-socials">
    <%= link_to "https://www.linkedin.com/in/benjamin-jackson-dev/" do %>
      <%= image_tag "linkedin-logo.png", size: "40x40" %>
    <% end %>
    <%= link_to "https://github.com/spigkaht" do %>
      <%= image_tag "github-logo.png", size: "40x40" %>
    <% end %>
    <%= link_to "https://www.facebook.com/spigkaht" do %>
      <%= image_tag "facebook-logo.png", size: "40x40" %>
    <% end %>
  </div>
</div>
