<div class="brapp-project-card" data-controller="card-shift">
  <%= image_tag "chevron-left.svg",
    class: "brapp-chevron-left",
    data: { action: "click->card-shift#leftShift" } %>
  <%= image_tag "brapp-1.png",
    class: "brapp-img",
    data: { card_shift_target: "image" } %>
  <%= image_tag "brapp-2.png",
    class: "brapp-img",
    data: { card_shift_target: "image" } %>
  <%= image_tag "brapp-3.png",
    class: "brapp-img",
    data: { card_shift_target: "image" } %>
  <%= image_tag "brapp-4.png",
    class: "brapp-img",
    data: { card_shift_target: "image" } %>
  <%= image_tag "brapp-5.png",
    class: "brapp-img",
    data: { card_shift_target: "image" } %>
  <%= image_tag "brapp-6.png",
    class: "brapp-img",
    data: { card_shift_target: "image" } %>
  <%= image_tag "chevron-right.svg",
    class: "brapp-chevron-right",
    data: { action: "click->card-shift#rightShift" } %>
</div>
