<div class="projects-bg-fixed" data-controller="background">
</div>
<div class="projects-container">
  <div class="projects-title">
    <h1>Projects</h1>
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to parmageddon_path do %>
        <h3>Parmageddon</h3>
      <% end %>
      <p>Personal project / Rails</p>
      <div class="projects-project-links">
        <%= link_to "Visit site", "https://www.parmageddon.net" %>
      </div>
    </div>
  </div>
  <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to brapp_path do %>
        <h3>Better Rentals App</h3>
      <% end %>
      <p>Work project / Rails</p>
    </div>
  </div>
  <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to brapp_path do %>
        <h3>Insert Project Here</h3>
      <% end %>
    </div>
  </div>
  <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to brapp_path do %>
        <h3>Insert Project Here</h3>
      <% end %>
    </div>
  </div>
    <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to brapp_path do %>
        <h3>Insert Project Here</h3>
      <% end %>
    </div>
  </div>
    <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to brapp_path do %>
        <h3>Insert Project Here</h3>
      <% end %>
    </div>
  </div>
    <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <%= link_to brapp_path do %>
        <h3>Insert Project Here</h3>
      <% end %>
    </div>
  </div>
</div>
