<div class="projects-bg-fixed" data-controller="background">
</div>
<div class="projects-container">
  <div class="projects-title">
    <h1>Projects</h1>
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <h3>Parmageddon</h3>
      <div class="projects-project-links">
        <%= link_to "See more", parmageddon_path %>
        <%= link_to "Visit site", "https://www.parmageddon.net" %>
      </div>
    </div>
  </div>
  <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <h3>Better Rentals App</h3>
      <div class="projects-project-links">
        <%= link_to "See more", brapp_path %>
      </div>
    </div>
  </div>
  <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <h3>Insert Project Here</h3>
      <div class="projects-project-links">
        <%= link_to "See more", brapp_path %>
        <%= link_to "Visit site", root_path %>
      </div>
    </div>
  </div>
  <div class="projects-trans-div">
  </div>
  <div class="projects-project">
    <div class="projects-detail">
      <h3>Insert Project Here</h3>
      <div class="projects-project-links">
        <%= link_to "See more", brapp_path %>
        <%= link_to "Visit site", root_path %>
      </div>
    </div>
  </div>
</div>
