<!DOCTYPE html>
<html>
  <head>
    <title>Benjamin Jackson Web Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body data-controller="menu">
    <%= render "shared/header" %>
    <%= render "shared/menu" %>
    <div class="main" data-menu-target="mainDiv">
      <%= yield %>
    </div>
  </body>
</html>
